{% extends "front/base.html" %}
{% block styles %}
{{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/activate_email.css' %}" />
{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="row">
        <div class="col m6 s12 message">
            <blockquote>
                The activation email, has been resent. In case you
                cannot find it on your inbox, check your spam. <br>If the email has not been sent, click on the resend
                button.
                Otherwise,
                this email will be deleted if not activated in the next 72 hours.
                <cite>The Teke Team</cite>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <form method="POST" action="{% url 'front:dashboard' %}" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field s12">
                        <button class="btn waves-effect green" type="submit">Home</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script> {% endblock %}
{% endblock %}
