{% extends "front/base.html" %}
{% block styles %}
{{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %}
{% block content %}
<p>We have sent you a link to your email to activate your registration.</p>
<p>Open your email and click on the link to complete the registration.</p>
<p>In case you do not find it in your inbox check your Spam folder.</p>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script> {% endblock %}
{% endblock %}
