{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'front/css/about.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %}
{% block content %}
<div class="main-content">
<div class="container container-content">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">teke</a>
                    <a href="#!" class="breadcrumb" id="last-link">about</a>
                    <!-- <a href="#!" class="breadcrumb">about</a> -->
                </div>
            </div>
        </nav>
    </div>
    <div class="row welcome">
        <h4 class="center">About teke</h4>
        <p class="center">Teke is an online store that sells mint condition phones to the Kenyan community</p>
    </div>
    <div class="row boxes">
        <div class="row box box-one">
            <div class="col m6 s12">
                <h5 class="center">Our Mission</h5>
                <div class="center">
                    <i id="hot-icon"class="material-icons">whatshot</i>
                </div>
                <p>We believe that every Kenyan should have access to quality electronic devices at an affordable price.
                  Therefore, our mission is simple: we want to make people's lives easier and better by providing access to quality tech87nology for Kenyans at an affordable price.</p>
            </div>
            <div class="col m6 s12">
                <h5 class="center">Our Story</h5>
                <div class="center">
                    <i id= "thumb-icon" class="material-icons">thumb_up</i>
                </div>
                <p>For many years, there have been many low quality tech products from abroad in the Kenyan market, and extremely high prices of new smartphones.
                  This has made it impossible for Kenyans to afford quality devices. At Teke, we are changing things for the better.</p>
            </div>
        </div>
        <div class="row box box-two">
            <div class="col m6 s12">
                <h5 class="center">Quality Assurance</h5>
                <div class="center">
                    <i id="quality-icon" class="material-icons">verified_user</i>
                </div>
                <p>On teke you buy quality mint condition smartphones sourced directly from the USA and delivered to your doorstep at an affordable price.
                  Mint condition phones are phones that are resold with (1) perfect screen condition (2) function flawlessly and (3) have no signs of use.</p>
            </div>
            <div class="col m6 s12">
                <h5 class="center">No Junk</h5>
                <div class="center">
                    <i id="junk-icon" class="material-icons">phonelink_setup</i>
                </div>
                <p>To uphold our promise of providing only quality original-model phones, we handpick the phones ourselves and ensure that they are compatible
                  with the Kenyan network providers and are free from defects. As a principle, we don't sell broken/fake goods.</p>
            </div>
        </div>
        <hr>
        <div class="row box box-two">
            <div class="col m12 s12">
                <h5 class="center">The teke Story</h5>
                <p>teke was founded in 2018 by Murage and Peter, long-time friends and software and mobile developers.</p>
                <p>The inspiration for teke sparked when Murage got numerous requests from people in Kenya to ship them phones from the USA. Turning to online marketplace
                platforms in Kenya proved unfruitful; fake phones, junk devices, inefficient communication, and downright fraud plagued the antiquated marketplaces.</p>
                <p>Inspired to find a solution, teke began as a project to build a better marketplace for selling quality technology devices to Kenyans at affordable
                prices. Quality, integrity, simplicity and low fees made teke different then and still do to this day. From the first teke sale (a Galaxy Note 5),
                teke aims to grow to be the ultimate used tech marketplace in Kenya. We enjoy creating a platform that makes it easy for people to directly buy great
                devices and everything we do revolves around this concept.</p>
            </div>
        </div>

    </div>
</div>
</div>
{% block footer %}
{% include 'front/footer.html' %}
{% endblock %}
{% block scripts %}
{{ block.super }}
{% load static %}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endblock %}
{% endblock %}
