<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block styles %}
    <!-- Materialize css -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/footer.css' %}" /> {% endblock %}
    <!-- Application Title -->
    <title>{% block title %}Hirola!{% endblock %}</title>
    <!-- Load Static for Images and CSS -->
</head>

<body>
    <header>
        <div class="row navigation white ">
            <div class="navbar-fixed">
                <nav class="nav-extended white">
                    <div class="container">
                        <div class="nav-wrapper black-text">
                            <div class="row nav-row">
                                <div class="col m2 s12">
                                    <div class="row">
                                        <div class="col s6">
                                            <a href="/" id="base-main-page">teke</a>
                                        </div>
                                        <div class="col s6">
                                            <a href="#" data-target="mobile-demo" class="sidenav-trigger right hide-on-med-and-up"><i
                                                    class="material-icons">menu</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m8 s12 search-bar">
                                    <form method="POST" action="/search">
                                        {% csrf_token %}
                                        <div class="input-field">
                                            <input id="search" name="search-name" type="search" required placeholder="Search for android, iphones, tablets or more...">
                                            <label class="label-icon" for="search">
                                                <i class="material-icons green-text">search</i>
                                            </label>
                                            <i class="material-icons">close</i>
                                        </div>
                                    </form>
                                </div>
                                <div class="col m1 hide-on-small-only faq">
                                    <a href="/help" class="right">FAQs</a>
                                </div>
                                <div class="col m1 hide-on-small-only greeting" id="">
                                    <a href="/dashboard" class="right">My Teke</a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-content">
                            <div class="row">
                                <div class="col m8 push-m2 center">
                                    <ul class="hide-on-small-only">
                                        {% for category in categories %}
                                        <div class="col m3 right">
                                            <li class="a-divider">
                                                <a href="/phone_category/{{category.id}}">{{ category.phone_category }}</a>
                                            </li>
                                        </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                </nav>
            </div>
            <ul class="sidenav" id="mobile-demo">
                {% for category in categories %}
                <li>
                    <a href="/phone_category/{{category.id}}">{{ category.phone_category }}</a>
                    <div class="divider"></div>
                </li>
                {% endfor %}
                <li>
                    <a href="/dashboard">My Teke</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/help">FAQs</a>
                </li>
            </ul>
        </div>
    </header>
    {% block content %}
    {% block scripts %}
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'front/js/material_init.js' %}"></script>
    {% endblock %}
    {% endblock %}
</body>

</html>