<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    <!-- Materialize css -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
    {% endblock %}
    <!-- Application Title -->
    <title>{% block title %}Hirola!{% endblock %}</title>
    <!-- Load Static for Images and CSS -->
</head>
<body>
<header>
    <div class="navigation">
        <div class="navbar-fixed">
            <nav class="black">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col m1">
                            <a href="/" class="brand-logo">teke</a>
                            <a href="#" data-activates="nav-mobile" class="button-collapse">
                                <i class="material-icons">menu</i>
                            </a>
                        </div>
                        <div class="col m8">
                            <ul class=" hide-on-med-and-down">
                                <li>
                                    <!-- <a href="#!" class="brand-logo">teke</a> -->
                                </li>
                                <li>
                                    <a class="" href="/iphone">iPhones</a>
                                </li>
                                <li>
                                    <a class="" href="/android">Android</a>
                                </li>
                                <li>
                                    <a class="" href="/phone_category">Tablets</a>
                                </li>
                                <li>
                                    <a class="" href="#">About</a>
                                </li>
                                <li>
                                    <a class="" href="#">Enquiry</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col m3">
                            <ul class=" hide-on-med-and-down">
                                <form>
                                    <div class="input-field">
                                        <input id="search" type="search" required placeholder="Search...">
                                            <i class="material-icons white-text">search</i>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <ul class="side-nav" id="nav-mobile">
            <li>
                <a href="/phone_category">iPhones</a>
            </li>
            <li>
                <a href="/phone_category">Android</a>
            </li>
            <li>
                <a href="/phone_category">Tablets</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Enquiry</a>
            </li>

            <li>
                <div class="divider"></div>
            </li>
            <li>
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required placeholder="Search...">
                        <i class="material-icons black-text">search</i>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</header>

    {% block content %}

    {% block scripts %}
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'front/js/material_init.js' %}"></script>
    <script src="{% static 'front/js/base.js' %}"></script>
    {% endblock %}
    {% endblock %}

</body>
</html>