{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/before_checkout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %} {% block content %}
{% load before_cart %}
{% load humanize %}
{% load stars_counter %}
<div class="container main-content">
    <div class="row cart-content">
        {% if items %}
        {% for item in items %}
        <div class="col s12 m8 l8 right-content">
                <div class="row heading-right"><h5>{teke}<sup>2</sup> hot deal</h5></div>
                <div class="row">
                    <div class="col s6m4">
                        <div class="card z-depth-0 center">
                            <img src="{{ MEDIA_URL }}{{ item.phone_model_item.main_image }}" class="responsive-img">
                        </div>
                    </div>

                    <div class="col m4 s6 l4">
                        <p>{{ item.phone_model_item }}</p>
                        <p><b>{{ item.phone_model_item.size_sku }}</b></p>
                        <ul style="list-style-type:disc"></ul>
                            {% for feature in item.phone_model_item.pk|features %}
                                <li>{{ feature.feature }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col m4 s12 l4">
                        <div class="input-field">
                            <form method="POST">
                                {% csrf_token %}
                                <select class="browser-default" name="quantity" onchange='this.form.submit()'>
                                    {% for i in item.phone_model_item.quantity|integize %}
                                        {% if i|add:'1' == item.quantity %}
                                            <option value="{{ i|add:'1' }}" selected>{{ i|add:"1" }}</option>
                                        {% else %}
                                            <option value="{{ i|add:'1' }}">{{ i|add:"1" }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="cart_id_quantity" value="{{ item.id }}"/>
                            </form>
                        </div>
                        <p>Total Price: {{ item.total_price|intcomma }}</p>

                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="cart_id_remove" value="{{ item.id }}"/>
                            <button class="faux-link" type="submit" name="action">
                                <span class="before_checkout_buttons"><a>Remove</a></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="cols12 m4 l4 left-content">
                <div class="row">
                    <div class="col s12">

                        <p><b>Quantity:</b><span class="right">{{ item_count }}</span></p>
                        <p><b>Shipping:</b></i> <span class="right">Free</span></p>
                        <hr>
                        {% if cart_total %}
                            <h6 class="green-text"><b>Total:<span class="right">{{ cart_total|intcomma }}</span></b></h6>
                        {% else %}
                        <h6 class="green-text"><b>Total:<span class="right">0</span></b></h6>
                        {% endif %}
                        <a href="{% url 'front:checkout' %}">
                            <button class="btn green" id="add-to-cart-button">Go to Checkout</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="col s12">
                <h6>Looks like you haven't added any items to your cart! Visit our <span><a href="/" class="green-text">home page</a> </span> and find the phone you desire<h6>
                <sup>Hapa {teke}<sup>2</sup> tunafurahia sana kukuwezesha kupata teknologia halali</sup>
            </div>
        {% endif %}

    </div>
</div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
{% endblock %}
{% endblock %}
