{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/before_checkout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" /> 
{% endblock %} {% block content %}
{% load before_cart %}
<div class="container main-content">
    <div class="row">
        <div class="col s8 right-content">
            <div class="row heading-right"><h5>Teke sale</h5></div>
            <div class="row">
                <div class="col m3">
                    <div class="card z-depth-0 center">
                        <img src="{% static 'front/iphone-5s.png' %}" class="responsive-img">
                    </div>
                </div>
                <div class="col m3">
                    <h6>{{ item }}</h6>
                    <ul style="list-style-type:disc"></ul>
                        {% for feature in features %}
                        <li>{{ feature.feature }}.</li>
                        {% endfor %}
                    </ul>
                    <p><i>mint</i></p>
                </div>
                <div class="col m3">
                    <p>Quantity ({{ request.session.quantity|actualize_quantity }})</p>
                </div>
                <div class="col m3">
                    <p>{{ price }}</p>
                    <p>Free shipping</p>
                    <p><i class="material-icons inline-icon green-text">local_shipping</i><span> fast n free</span></p>
                    <p>Guaranteed delivery</p>
                    <span id="action"><a href="#">Save for later</a> <a href="#">Remove</a></span>
                </div>
            </div>
            <div class="row" id="offers">
                <h5>Offers</h5>
                <p>There are currently no offers for this item</p>
            </div>
        </div>
        <div class="col s4 left-content">
            <div class="row">
                <div class="col s12">
                    <a href="{% url 'front:checkout' %}">
                        <button class="btn green">Go to Checkout</button>
                    </a>
                    <p>item ({{ request.session.quantity|actualize_quantity }}) <span class="right">{{ request.session.quantity|actualize_quantity|total_price:price }}</span></p>
                    <p>shipping <i class="fas fa-info-circle tooltipped" data-position="top" data-tooltip="Shipping is free"></i> <span class="right">Free</span></p>
                    <h6>Total <span class="right">{{ request.session.quantity|total_price:price }}</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
{% endblock %}
{% endblock %}