{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'front/css/checkout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %} {% block content %}
{% load humanize %}
    <div class="container main-content">
        <div class="row breadcrumbs">
            <nav class="this-black">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="/" class="breadcrumb">teke</a>
                        <a href="#!" class="breadcrumb" id="last-link">Checkout</a>
                    </div>
                </div>
            </nav>
        </div>
        <h5 class="center">{teke}<sup>2</sup> checkout</h5>
        <div class="row">
            <div class="col m7 goods">
              <div class="row payment">
                  <h6><b></b></h6>
                  <div class="row">
                      <div class="col s12">
                          <p>At {teke}<sup>2</sup>, we work on a pay on delivery system. You will only pay once we have delivered your ordered item to you, or
                            when you pick it up at our office. Shipping takes about 1 to 3 weeks.
                          </p>
                      </div>
                  </div>
              </div>
                <div class="row shipping">
                    <h6><b>1. Delivery Options</b></h6>
                      <p>Please select how you would like to receive your ordered item(s)</p>
                    <form action="#">
                        <div class="col s12">
                          <label for="pickup">
                        <input class="with-gap" name="group1" type="radio" id="pickup"/>
                        <span>Pick up at our office: 1234 Kiambu (Kiambu-Nairobi Road next to Thindigua Realtors)</span>
                        </label>
                        </div>
                        <div class="col s12">
                        <label for="delivery">
                        <input class="with-gap" name="group1" type="radio" id="delivery" />
                        <span>Request delivery (only within Nairobi area)</span>
                      </label>
                        </div>
                    </form>
                </div>
                <div class="row payment">
                    <!-- <h6><b>2. Payment</b></h6> -->
                    <div class="row">
                        <div class="col s12">
                            <p>Please fill in the form below so we can know where to delivery your order to (be as specific as possible)</p>
                        </div>
                    </div>
                    <form action="#" class="payment-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="tel" type="text" class="validate" required>
                                <label for="tel">Phone Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="town" type="text" class="validate" required>
                                <label for="town">Town/Street/Apartment Number</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" style="margin-top: 30px">
                    <h6><b>2. Review Your Order</b></h6>
                      <br>
                </div>
                {% for item in cart %}
                <div class="row item">
                        <div class="col m3 center">
                            <div class="image responsive-img">
                                <img src="{{ MEDIA_URL }}{{ item.phone_model_item.main_image }}">
                            </div>
                        </div>
                        <div class="col m3 s12">
                            <p>{{ item.phone_model_item }}</p>
                            <p>Delivery: 14 days</p>
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="qty" type="number" value="1">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col m6 s12">
                            <p>Price: {{ item.total_price|intcomma }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row item">
                    <div class="col m3 center">
                        <div class="image responsive-img">
                            <img src="../../static/front/nexus-5x.png">
                        </div>
                    </div>
                    <div class="col m3 s12">
                        <p>Apple iphone 6s</p>
                        <p>Delivery: 14 days</p>
                        <form action="#">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="qty" type="number" value="1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col m6 s12">
                        <p>Price: 67 000</p>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
            <div class="col m1"></div>
            <div class="col m4 confirmation">
                <div class="row">
                    <div class="col s6"><p></p></div>
                    <div class="col s6"><p></p></div>
                </div>
                <div class="row">
                    <div class="col s6"><p><b>Order Total:</b></p></div>
                    <div class="col s6"><p class="green-text"><b>Ksh 67000</b></p></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col s12">
                      <p></p>
                        <button class="btn waves-effect waves-light btg  green" type="submit" name="action">Place Order</button>
                    </div>

                </div>
                <p class="confirmation-text">By clicking Place Order, you agree to pay the full price of this item once its delivered</p>
            </div>
        </div>
    </div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
{% endblock %}
{% endblock %}
