{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'front/css/checkout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %} {% block content %}
    <div class="container main-content">
        <div class="row breadcrumbs">
            <nav class="this-black">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="/" class="breadcrumb">teke</a>
                        <a href="#!" class="breadcrumb" id="last-link">Checkout</a>
                    </div>
                </div>
            </nav>
        </div>
        <h4 class="center">kalapa checkout</h4>
        <div class="row">
            <div class="col m7 goods">
                <div class="row shipping">
                    <h6><b>1. Shipping</b></h5>
                      <br>
                    <form action="#">
                        <div class="col s12">
                          <label for="pickup">
                        <input class="with-gap" name="group1" type="radio" id="pickup"/>
                        <span>Pick up at Nairobi office</span>
                        </label>
                        </div>
                        <div class="col s12">
                        <label for="delivery">
                        <input class="with-gap" name="group1" type="radio" id="delivery" />
                        <span>Request delivery (only within Nairobi)</span>
                      </label>
                        </div>
                    </form>
                </div>
                <div class="row payment">
                    <h6><b>2. Payment</b></h6>
                    <div class="row">
                        <div class="col s12">
                            <p>At kalapa, we work on a pay and delivery system. You will only pay once we have delivered your order to you, or
                              when you pick it up at our office. Shipping takes about 1 to 3 weeks.<br>
                              Please fill in the form below so we can update you on delivery details
                            </p>
                        </div>
                    </div>
                    <form action="#" class="payment-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="tel" type="text" class="validate" required>
                                <label for="tel">Phone Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="town" type="text" class="validate" required>
                                <label for="town">Town</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" style="margin-top: 30px">
                    <h6><b>3. Review Item and Shipping</b></h5>
                      <br>
                </div>
                <div class="row item">
                    <div class="col m3 center">
                        <div class="image responsive-img">
                            <img src="../../static/front/nexus-5x.png">
                        </div>
                    </div>
                    <div class="col m3 s12">
                        <p>Apple iphone 6s</p>
                        <p>Delivery: 14 days</p>
                        <form action="#">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="qty" type="number" value="1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col m6 s12">
                        <p>Price: 67 000</p>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
            <div class="col m1"></div>
            <div class="col m4 confirmation">
                <div class="row">
                    <div class="col s6"><p>Item(1)</p></div>
                    <div class="col s6"><p>Kshs 67 000</p></div>
                </div>
                <div class="row">
                    <div class="col s6">Order Total</div>
                    <div class="col s6">Ksh 67 000</div>
                </div>
                <div class="row">
                    <div class="col s12">
                      <p></p>
                        <button class="btn waves-effect waves-light btg  green" type="submit" name="action">Confirm and Order</button>
                        <p class="confirmation-text">By clicking Confirm and Order, you agree to pay the full price of this item once its delivered</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
{% endblock %}
{% endblock %}
