{% load inlinecss %}
{% inlinecss "front/css/confirmation_email_body.css" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
        <div class="row">
                <div class="title">
                        <div class="col-a">
                            <h2>teke</h2>
                        </div>
                        <div class="col-b">
                                <h2>Order Confirmation</h2>
                        </div>
                </div>
                <div class="content">
                        <p>
                            Thanks for shopping at teke {{ user.first_name }}.
                        </p>
                        <p>
                            We will update you when the item ships.
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="title">
                        <div class="col-a">
                                <h2>Order Details</h2>
                        </div>
                </div>
                <div class="content">
                        {% for obj in cart %}
                        <li><span class="text-title">{{obj.phone_model_item}}</span> Ksh. {{obj.phone_model_item.price}}</li>
                        {% endfor %}
                        <p>
                            <span class="text-title" id="total">Order Total: Ksh. </span>{{cart_total}}
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="title">
                        <div class="col-a">
                            <h2>Shipping Details</h2>
                        </div>
                </div>
                <div class="content">
                        <p>
                            These items will ship in 2-3 weeks. We will update you on the delivery
                            progress as the items are shipped.
                        </p>
                        {% if shipping_address != None %}
                        <p>
                            <span class="text-title">Phone Number:</span> {{shipping_address.phone_number}}
                        </p>
                        <p>
                            <span class="text-title">Town:</span> {{shipping_address}}
                        </p>
                        {% else %}
                        <p>
                            <span class="text-title">Phone Number:</span> {{user.phone_number}}
                        </p>
                        {% endif %}
                </div>
        </div>
        <div class="row">
                <div class="content">
                        <p>
                           Have a question? please visit <span><a href="{{ protocol }}://{{ domain }}{% url 'front:help' %}">teke help center</a></span>
                        </p>
                        <p>
                           We hope to see you soon again.
                        </p>
                        <p>
                            <span><a href="peter.tekesquared.com">teketeke.com</a></span>
                        </p>
                </div>
        </div>
        <div class="foot">
                <p>
                    By placing your order, you agree to pay the whole amount of the products ordered,
                    as well as to teke's <span><a href="{{ protocol }}://{{ domain }}{% url 'front:privacy' %}">privacy policy</a></span>
                </p>
        </div>
</body>
</html>
{% endinlinecss %}
