{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153583848-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153583848-1');
</script>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/contact_us.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" /> {% endblock %} {% block content %}
<div class="container main-content">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="breadcrumb">teke</a>
                    <a href="/contact_us" class="breadcrumb" id="last-link">contact us</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row content">


     <div class="row">
         <div class="landing-content">
             <h4 class="left">Contact Tekesquared</h4>
         </div>
     </div>

 <div class="row landing">
   <div class="col s12 m6 l9">
    <div class="landing-content">
		<table>
			<tbody>
        <tr>
  				<th rowspan="2" width="20%">Contact Support</th>
  				<td class="form-link">
  					<i class="material-icons tiny green-text">comment</i>
  					<a href="/help#help-center" class="green-text">Help Form</a>
  				</td>
      		</tr>

    			<tr>
    				<td>
    					Contact our support for help with the website, your purchases etc.
    				</td>
    			</tr>

      		<tr>
      			<th rowspan="2">On the Web</th>
      			<td>
      				<a href="https://plus.google.com/118083502790722489400?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;">
      				<i class="material-icons tiny green-text">looks_two</i>
      				</a> &nbsp;
      				<a href="https://plus.facebook.com/teke" target="https://web.facebook.com/Tekesquared-104838500988091/?modal=admin_todo_tour" class="green-text">Tekesquared on facebook</a>
      			</td>
      		</tr>
    			<tr>
    				<td>
    					<i class="material-icons tiny green-text">looks_6</i>
    					<a href="http://twitter.com/teke" target="https://www.instagram.com/teke_squared/" class="green-text">@teke on instagram</a>
    				</td>
    			</tr>
    			<tr>
    				<th>Location</th>
    				<td>
    					Tekesquared, LLC <br>
              Ever Green Shopping Center Kiambu<br>
    					(Opposite Four Ways Junction, Kiambu Road)
    				</td>
    			</tr>
    			<tr>
    				<th rowspan="2">Email Info</th>
    				<td>
    					<i class="material-icons tiny green-text">email</i>
    					<a href="mailto:info@teke.com" class="green-text">info@tekesquared.com</a>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					Email us here for Tekesquared business-related questions, etc.
    				</td>
    			</tr>
		 </tbody>
     </table>
    </div>
  </div>
  </div>

  <div class="row">
      <div class="col s12 m8 l8">
        <div class="this-div">
          <p>Need help? Visit our <a href="/help" class="green-text"><b>Help Page</b></a></p>
      </div>
      </div>
  </div>

 </div>

</div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script> {% endblock %}
{% endblock %}
