{% block styles %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/footer.css' %}" />
{% endblock %} {% block footer %}
<div class="row footer">
    <div id="footer-container" class="container">
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i> facebook</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i> twitter</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i> instagram</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-youtube"></i> youtube</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#">Buy iPhone</a>
                </li>
                <li>
                    <a href="#">Buy Android</a>
                </li>
                <li>
                    <a href="#">Buy Tablets</a>
                </li>
                <li>
                    <a href="#">IMEI/ESN Check</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#">Help Center</a>
                </li>
                <li>
                    <a href="#">FAQs</a>
                </li>
                <li>
                    <a href="#">Repair Network</a>
                </li>
                <li>
                    <a href="#">teke vs. OLX</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#">About teke</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">News and Press</a>
                </li>
            </ul>
        </div>
        <div>
            <center>
                <p class="copyright">&copy; Copyright 2018, teke LLC</p>
            </center>
        </div>
    </div>
</div>
{% endblock %}