{% block styles %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/footer.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> {% endblock %} {% block footer %}
<div class="row footer">
    <div class="container">
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <i class="fa fa-facebook"></i> facebook</a>
                </li>
                <li>
                    <i class="fa fa-twitter"></i> twitter</a>
                </li>
                <li>
                    <i class="fa fa-instagram"></i> instagram</a>
                </li>
                <li>
                    <i class="fa fa-youtube"></i> youtube</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#" class="white-text">Buy iPhone</a>
                </li>
                <li>
                    <a href="#" class="white-text">Buy Android</a>
                </li>
                <li>
                    <a href="#" class="white-text">Buy Tablets</a>
                </li>
                <li>
                    <a href="#" class="white-text">News and Press</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#" class="white-text">Help Center</a>
                </li>
                <li>
                    <a href="#" class="white-text">FAQs</a>
                </li>
                <li>
                    <a href="#" class="white-text">Repair Network</a>
                </li>
                <li>
                    <a href="#" class="white-text">teke vs. OLX</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s6 white-text">
            <ul>
                <li>
                    <a href="#" class="white-text">About teke</a>
                </li>
                <li>
                    <a href="#" class="white-text">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="white-text">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="white-text">News and Press</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}