{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/help.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" /> {% endblock %} {% block content %}
<div class="container main-content">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">teke</a>
                    <a href="#!" class="breadcrumb" id="last-link">news</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row content">
        <div class="row need-help">
            <h5><b>How can we help you?</b></h5>
            <p>teke has a fantastic support. Our customer support team is always ready to answer your questions and make sure our
              gadgets meet the highest quality standards.</p>
        </div>
        <div class="row faqs">
            <h5><b>Commonly Asked questions</b></h5>
            <ul class="collapsible z-depth-0"> <!-- z-depth-0 -->
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>How long does it take to ship phones?</div>
                    <div class="collapsible-body"><span>It depends. Sometimes, if we have the product in our store, we ship it within 24 hours. Otherwise, sometimes we have to order items from the USA and
                      delivery typically takes 2–3 weeks. Despite this, we make buying from teke a great experience by providing constant updates to let you know about the delivery progress.</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>What is a mint condition phone?</div>
                    <div class="collapsible-body"><span>A mint condition product is an item that has been gently used. A mint condition item differentiates itself
                      from other quality grading systems for its three key characteristics:
                       <ol type="disc">
                        <li>Functions flawlessly,</li>
                        <li>Perfect screen condition,</li>
                        <li>No signs of use.</li>
                      </ol>
                        Usually, our products look new, come in original packaging, are unlocked and tested to make sure they meet all the above standards.</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>When will you begin shipping to other parts of Kenya?</div>
                    <div class="collapsible-body"><span>Unfortunately, we can only ship our products within Nairobi at the moment. However, we are working hard to make sure that we can deliver to other parts of the
                      country soon.</span></div>
                </li>
            </ul>
        </div>
        <hr>
        <div class="row faqs">
            <h5><b>teke Products</b></h5>
            <ul class="collapsible z-depth-0">
                <li class="active">
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>What is a mint condition phone?</div>
                    <div class="collapsible-body"><span>Basically, a  mint condition product is an item that has been gently used. A mint condition item differentiates itself
                      from other quality grading systems for its three key characteristics:
                       <ol type="disc">
                        <li>Functions flawlessly,</li>
                        <li>Perfect screen condition,</li>
                        <li>No signs of use.</li>
                      </ol>
                        Usually, our products look new, come in original packaging, are unlocked and tested to make sure they meet all the above standards.</span>
                      </div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>Are your iPhones unlocked?</div>
                    <div class="collapsible-body"><span>All our products are factory unlocked, which means that they are originally sold as unlocked.  This is different from
                      carrier unlocked phones, which are originally made to work with one carrier, e.g. Safaricom, but are then unlocked to work with other carriers. We only sell
                      factory unlocked products because we can guarantee and verify that they are compatible with all Kenyan networks. </span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>Do you sell laptops?</div>
                    <div class="collapsible-body"><span>Not yet. Currently, we only sell tablets, phones and some home tech. Sign up for our newsletter and we can let you know
                      when we add new stuff to our inventory. </span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>How can I order a phone not listed on the site?</div>
                    <div class="collapsible-body"><span>It’s simple. <a href="">Contact us</a> and ask us to find it for you. If the product meets the high standards we have set for our items,
                      we will add it to our inventory. </span></div>
                </li>
              </div>

                <hr>

              <div class="row faqs">
                <h5><b>teke Payments Policy</b></h5>
                <ul class="collapsible z-depth-0">
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>How do I pay for an item on teke website?</div>
                    <div class="collapsible-body"><span>Currently, we operate on a <b>Cash on Delivery</b> system. You can place an order on teke, then we get the order ready for you. You only pay
                      for your order once we ship it to you. We accept M-Pesa, Equitel and Z-Cash. </span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>What if I placed an order and I no longer need the item?</div>
                    <div class="collapsible-body"><span>Incase you no longer need an item that you ordered, we ask that you contact us using the <a href="">Help center</a> and let us know immediately. As a courtesy
                      to us, we request that you update us of any changes within 5 days of placing an order.</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>Are there hidden costs when I order on teke?</div>
                    <div class="collapsible-body"><span>There are no hidden costs when you place an order on teke. The price listed at checkout is what you pay when an order is shipped to
                      you – nothing more, nothing less.</span></div>
                </li>
            </ul>
        </div>

        <hr>

        <div class="row faqs">
            <h5><b>teke Delivery Processing Questions</b></h5>
            <ul class="collapsible z-depth-0">
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>How long does it take to receive an item once I place an order?</div>
                <div class="collapsible-body"><span>It depends. Sometimes, if we have the product in our store, we ship it within 24 hours. Otherwise, sometimes we have to order items from the USA and
                  delivery typically takes 2–3 weeks. Despite this, we make buying from teke a great experience by providing constant updates to let you know about the delivery progress.</span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>How do I pick up my phone after ordering?</div>
                <div class="collapsible-body"><span>If you are within the Nairobi area, we will deliver the product to you for free. Alternatively, you can pick up the product at our offices on Kiambu road.
                  Unfortunately, we don’t offer deliveries to areas outside of Nairobi, but we hope to change that soon. </span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>What payment methods do you accept?</div>
                <div class="collapsible-body"><span>Once we deliver your order, you can pay using various methods: we accept M-Pesa, cash PayPal and Equitel. We do not accept cash.</span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>What it the return policy?</div>
                <div class="collapsible-body"><span>It’s simple: you can return any product that you buy from us in its original condition within seven days of purchase for a full refund, no questions asked.
                We value our customers and have faith in the quality of the products we sell, but sometimes things happen and one needs to return an item. In such a case, we make this process easy: just contact us through
                the <a href="">Help Center</a> and we will arrange on how you will send the item to us.</span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">arrow_drop_down</i>When will you begin shipping to Thika?</div>
                <div class="collapsible-body"><span>Unfortunately, we can only ship our products within Nairobi at the moment. However, we are working hard to make sure that we can deliver to other parts of the
                  country soon.</span></div>
            </li>
          </div>

            <hr>

        <div class="row contact">
            <h5><b>Contact our support team</b></h5>
            <p>You can fill the form below or contact our support team at <b>support@gmail.com</b></p>
            <div class="row">
                <form class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Name (optional)" id="name" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Email or phone number" id="tel" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="message" class="materialize-textarea"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col s6 right">
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block footer %}
{% include 'front/footer.html' %}
{% endblock %}
{% block scripts %}
{{ block.super }}
{% load static %}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- <script src="{% static 'front/js/material_init.js' %}"></script> -->
{% endblock %}
{% endblock %}
