{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153583848-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153583848-1');
</script>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/help.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" /> {% endblock %} {% block content %}
<div class="container main-content">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">teke</a>
                    <a href="#!" class="breadcrumb" id="last-link">help</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row content">
        <div class="row need-help">
            <h5><b>How can we help you?</b></h5>
            <p>Tekesquared has a fantastic support. Our customer support team is always ready to answer your questions and make sure our
              gadgets meet the highest quality standards.</p>
        </div>
        <div class="row faqs">
            <h5><b>Commonly Asked questions</b></h5>
            <ul class="collapsible z-depth-0"> <!-- z-depth-0 -->
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right
</i>How long does it take to ship phones?</div>
                    <div class="collapsible-body"><span>It depends. Sometimes, if we have the item in our store, we ship it within 24 hours. Otherwise, we have to order items from the USA and
                      delivery typically takes 17 business days. Despite this, we make buying from Tekesquared such a great experience by providing constant updates to let you know about the shipping progress.</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>What is a mint condition device?</div>
                    <div class="collapsible-body"><span>A mint condition product is an item that has been gently used. A mint condition item differentiates itself
                      from other quality grading systems for its three key characteristics:
                       <ol type="disc">
                        <li>Functions flawlessly,</li>
                        <li>Has perfect screen condition and</li>
                        <li>Shows no signs of use.</li>
                      </ol>
                        Usually, our items look new, are unlocked and come in original packaging. We test them to make sure they meet all the above standards.</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>When will you begin shipping to other parts of Kenya?</div>
                    <div class="collapsible-body"><span>Unfortunately, we can only ship within Nairobi. However, we are working hard to make sure that we can deliver to other parts of the
                      country soon.</span></div>
                </li>
            </ul>
        </div>
        <hr>
        <div class="row faqs">
            <h5><b>teke Products</b></h5>
            <ul class="collapsible z-depth-0">
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>What is a mint condition phone?</div>
                    <div class="collapsible-body"><span>A mint condition product is an item that has been gently used. A mint condition item differentiates itself
                      from other quality grading systems for its three key characteristics:
                       <ol type="disc">
                        <li>Functions flawlessly,</li>
                        <li>Has perfect screen condition and</li>
                        <li>Shows no signs of use.</li>
                      </ol>
                        Usually, our items look new, are unlocked and come in original packaging. We test them to make sure they meet all the above standards.</span>
                      </div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>Are your iPhones unlocked?</div>
                    <div class="collapsible-body"><span>All our products are factory unlocked, which means that they are originally sold as unlocked.  This is different from
                      carrier unlocked phones, which are originally made to work with one carrier, e.g. Safaricom, but are then unlocked to work with other carriers. We only sell
                      factory unlocked tech products because we can guarantee and verify that they are compatible with all Kenyan networks. </span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>Do you sell laptops?</div>
                    <div class="collapsible-body"><span>Yes. Currently, we mostly sell tablets, phones and some home tech devices, and a few laptops. As we grow, we aim to add more laptop products to our inventory. </span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>How can I order a phone not listed on the site?</div>
                    <div class="collapsible-body"><span>It’s simple. <a href="/help#help-center" class="help-links green-text">Contact Us</a> and ask us to find it for you. If the item meets the high standards we have set for our products,
                      we will add it to our inventory. </span></div>
                </li>
              </div>

                <hr>

              <div class="row faqs">
                <h5><b>teke Payments Policy</b></h5>
                <ul class="collapsible z-depth-0">
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>How do I pay for an item on Tekesquared website?</div>
                    <div class="collapsible-body"><span>Currently, we operate on a <b>Cash on Delivery</b> system. When you place an order on Tekesquared that's less than Kes. 25,000, we work to get the it ready for you. You only pay
                      for your order once we ship it to you. We accept M-Pesa, Equitel and Z-Cash. If the item you order is more than kes. 25,000, you need to pay the balance first before we can process your order (e.g. if you buy an iphone 7 of
                      Kes. 28,000, you'll need to pay Kes. 3,000 after you have ordered, then you will pay the balance upon delivery. We will email you instructions on how to pay the balance before we process your order</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>What if I placed an order and I no longer need the item?</div>
                    <div class="collapsible-body"><span>Incase you no longer need an item that you had ordered, you can cancel your order within 24 hours. Just go to My profile > My Orders and press the cancel button.</span></div>
                </li>
                <li>
                    <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>Are there hidden costs when I order on Tekesquared?</div>
                    <div class="collapsible-body"><span>There are no hidden costs when you place an order on Tekesquared. The price listed at checkout is what you pay when an order is shipped to
                      you – nothing more, nothing less.</span></div>
                </li>
            </ul>
        </div>

        <hr>

        <div class="row faqs">
            <h5><b>teke Delivery Processing Questions</b></h5>
            <ul class="collapsible z-depth-0">
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>How long does it take to receive an item once I place an order?</div>
                <div class="collapsible-body"><span>It depends. Sometimes, if we have the item in our store, we ship it within 24 hours. Otherwise, sometimes we have to order items from the USA and
                  delivery typically takes 17 business days. Despite this, we make buying from teke such a great experience by providing constant updates to let you know about the delivery progress.</span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>How do I pick up my phone after ordering?</div>
                <div class="collapsible-body"><span>If you are within Nairobi area, we will deliver any order to you for free. Alternatively, you can pick up the ordered item at our offices located at Ever Green
                  Center, Kiambu road. Unfortunately, we don’t offer deliveries to areas outside of Nairobi yet, but we hope to change that soon. </span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>What payment methods do you accept?</div>
                <div class="collapsible-body"><span>Once we deliver your order, you can pay using various methods: we accept M-Pesa, cash, PayPal, and Equitel. We do not accept cash.</span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>What it the return policy?</div>
                <div class="collapsible-body"><span>It’s simple: you can return any item that you buy from us in its original condition within 30 days of purchase for a full refund, no questions asked.
                We value our customers and have faith in the quality of the products we sell, but sometimes things happen and one needs to return an item. In such a case, we make this process easy: just <a href="/help#help-center" class="help-links green-text">Contact Us</a> and we will arrange on how you will send the item to us.</span></div>
            </li>
            <li>
                <div class="collapsible-header green-text"><i class="material-icons">keyboard_arrow_right</i>When will you begin shipping to Thika?</div>
                <div class="collapsible-body"><span>Unfortunately, we can only ship within Nairobi at the moment. However, we are working hard to make sure that we can deliver to other parts of the
                  country soon.</span></div>
            </li>
          </div>

            <hr>

        <div class="row contact" id="help-center">
            <h5><b>Contact our support team</b></h5>
            <p>Please fill out the form below, or contact our customer support team at <b>info@tekesquared.com</b></p>
            <div class="row">
                <form class="col s12 m6" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row">
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <p>
                                    {{ error }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row error">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p>
                                    {{ form.email.errors|escape }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.comment }}
                        </div>
                    </div>
                    <div class="row error">
                        {% if form.comment.errors %}
                            {% for error in form.comment.errors %}
                                <p>
                                    {{ form.comment.errors|escape }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col s6 right">
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var messages = []
        {% if messages %}
            {% for message in messages %}
               messages.push({'message':'{{ message|safe }}', 'tag': '{{message.tags}}'});
            {% endfor %}
        {% endif %}
</script>
{% block footer %}
{% include 'front/footer.html' %}
{% endblock %}
{% block scripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
<script src="{% static 'front/js/help.js' %}"></script>
{% endblock %}
{% endblock %}
