{% extends "front/base.html" %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/landing_page.css' %}" />
{% endblock %}
{% block content %}

<div class="row content">
  <div class="bg-slideshow">
    <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-item red item-one" href="#one!">
        <div class="item-text white-text">
          <h4>iPhone 7s</h4>
          <h5>Slimmer than slim</h5>
        </div>
      </div>
      <div class="carousel-item amber item-two" href="#two!">
        <div class="item-text black-text">
          <h4>Samsung 7</h4>
          <h5>Slicker and Faster</h5>
        </div>
      </div>
      <div class="carousel-item green white-text item-three" href="#three!">
        <div class="item-text">
          <h4>Huawei</h4>
          <h5>New Paradigm of Thinking.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% block scripts %}
{{ block.super }}
{% load static %}
{% endblock %}
{% endblock %}