{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'front/css/new_password.css' %}" /> {% endblock %} {% block content %}
<div class="row">
    <div class="container">
        <div class="row content">
            <div class="col m2"></div>
            <div class="col m8">
                <div class="col s12 form-content">
                    <h5>Please provide new password for xyz@gmail.com</h5>
                    <form action="#">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" required>
                                <label for="password">New Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="confirmPassword" type="password" class="validate" required>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light red accent-4" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col m2"></div>
        </div>
    </div>
</div>

{% block scripts %} {{ block.super }} {% load static %} {% endblock %} {% endblock %}