{% extends "front/landing_page.html" %}
{% load static %}
{% block title %}Phone Category{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'front/css/phone_category.css' %}" />
  <div class="d-flex flex-row justify-content-around flex-wrap">
      <div class="column bg-dark">
        <div class="card bg-dark">
          <div class="card-spacer"></div>
          <img src="{% static 'front/doll1.jpg' %}" class="mx-auto rounded" alt="Jane" width="180px" height="300px">
          <div class="card-spacer"></div>
          <div class="mx-auto">
            <center class="title">Super Girl</center>
            <p>
              <span class="price">Flies</span>
              <img class="ml-3" src="{% static 'front/run.png' %}" width="20px" height="20px"/>
            </p>
          </div>
        </div>
      </div>
    
      <div class="column bg-dark">
        <div class="card bg-dark">
          <div class="card-spacer"></div>
          <img src="{% static 'front/doll2.jpg' %}" class="mx-auto rounded"  alt="Mike" width="180px" height="300px">
          <div class="mx-auto">
            <center class="title">The Joker</center>
            <p>
              <span class="price">Crafty</span>
              <img class="ml-3" src="{% static 'front/run.png' %}" width="20px" height="20px"/>
            </p>
          </div>
        </div>
      </div>
    
      <div class="column bg-dark">
        <div class="card bg-dark">
          <div class="card-spacer"></div>
          <img src="{% static 'front/doll3.jpg' %}" class="mx-auto rounded"  alt="John" width="180px" height="300px">
          <div class="mx-auto">
            <center class="title">Wonder Woman</center>
            <p>
              <span class="price">Fierce</span>
              <img class="ml-3" src="{% static 'front/run.png' %}" width="20px" height="20px"/>
            </p>
          </div>
        </div>
      </div>
          
      <div class="column bg-dark">
          <div class="card bg-dark">
            <div class="card-spacer"></div>
            <img src="{% static 'front/doll4.jpg' %}" class="mx-auto rounded" alt="John" width="180px" height="300px">
            <div class="mx-auto">
              <center class="title">The Hulk</center>
              <p>
                <span class="price">Smash</span>
                <img class="ml-3" src="{% static 'front/run.png' %}" width="20px" height="20px"/>
              </p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
