{% extends "front/base.html" %} {% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/phone_profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'front/css/lightslider.css' %}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'front/js/lightslider.js' %}"></script>

{% endblock %} {% block content %}
{% load stars_counter %}
{% load humanize %}
<div class="main-content">
    <div class="container">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" id="profile-main-page" class="breadcrumb">teke</a>
                    <a href="/phone_category/{{ phone.category.id }}" class="breadcrumb">{{ phone.category }}</a>
                    <a href="/profile/{{ phone.id }}" class="breadcrumb" id="last-link">{{ phone }}</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row phone-details">
        <div class="row">
            <div class="col m5 s12 main-img">
              <p id="intro"><b>{{ phone }} {% if phone.size_sku %}{{ phone.size_sku }}{% endif %}</b></p>
                <div class="row">
                    <div class="col s12 m12 center">
                        <div class="card z-depth-0">
                            <div class="card-content center">
                                    <div class="profile-img">
                                        <ul id="lightSlider">
                                            <li data-thumb="{{ MEDIA_URL }}{{ phone.main_image }}">
                                                <img src="{{ MEDIA_URL }}{{ phone.main_image }}" />
                                            </li>
                                            {% for image in image_list %}
                                                <li data-thumb="{{ MEDIA_URL }}{{ image.image }}" class="center">
                                                <img src="{{ MEDIA_URL }}{{ image.image }}" />
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m4 s12 profile">
                <div class="row">
                  <p></p>
                    <div class="stars">
                        {% for star in phone.average_review|round_off|checked_star_range %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for star in phone.average_review|round_off|unchecked_star_range %}
                        <span class="fa fa-star"></span>
                        {% endfor %}
                        <span>{{ phone.average_review|round_off }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m9">
                        <select id='color' class="materialSelect">
                            <option value="" disabled selected>Color</option>
                            {% if colors %}
                            {% for color in colors %}
                            {% if color.quantity >= 1 %}
                                <option value={{ color.color.pk }}>{{ color.color }}</option>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </select>
                        <select id="quantity">
                            <option value="" disabled selected>Storage</option>
                        </select>
                        <select id="quantity">
                            <option value="" disabled selected>Quantity</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8">
                        <select name="size" id="size" class="materialSelect">
                            <option value="" disabled selected>Select size</option>
                            {% if sizes %}
                            {% for size in sizes %}
                            <option value={{ color.color.pk }}>{{ size }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="row features">
                    <p>
                        <b>Key Features</b>
                    </p>
                    <ul style="list-style-type:disc"></ul>
                        {% for feature in features %}
                        <li>{{ feature.feature }}.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col m3 s12 action">
                <h5 class="green-text"><b>{{ phone.currency }} {{ phone.price|intcomma }}</b></h5>
                <p>
                    <i class="medium material-icons inline-icon">local_atm</i>
                    Pay on delivery<br>
                    <i class="medium material-icons inline-icon">loop</i>
                    7 day free return<br>
                    <i class="medium material-icons inline-icon">check</i>
                    Genuine product<br>
                    <i class="material-icons inline-icon">sentiment_very_satisfied</i>
                    Free shipping
                </p>
                <form class="col s12" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="cartItem" name="cart_item_add" value="{{ phone.id }}">
                    <p class="green" id="green"></p>
                    <div class="row">
                        <button class="btn waves-effect waves-light green" id="add-to-cart-button" type="submit" name="action">Buy Now
                        </button>
                            <p class="green" id="green"></p>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light green darken-2" id="add-to-cart-button2" type="submit" name="action">Add to Cart
                            <i class="material-icons tiny left">add_shopping_cart</i>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row more-details">
        <div class="row">
                <p>
                    <b>Product Information</b>
                </p>
        </div>
        <div class="row">
            <div class="col m6 s12 details-container">
                {% for info in infos %}
                <div class="row detail">
                        <div class="col s6" id="title">{{ info.feature }}</div>
                        <div class="col s6">{{ info.value }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="col m1"></div>
            <div class="col m5 warranty">
                <div class="row">
                    <p><b>Warranty and Support</b></p>
                    <p>Product Warranty: 7 day free return</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row reviews">
        <ul class="collection with-header">
            <li class="collection-item avatar review-head">
                <p class="left">
                  <b>Customer Reviews</b>
                  </p>
            </li>
            {% for customer_review in customer_reviews%}
            <li class="collection-item avatar">
                <img src="{{ MEDIA_URL }}{{ customer_review.owner.photo }}" alt="User 1" class="circle">
                {% for star in customer_review.stars|checked_star_range %}
                <i class="material-icons left checked">grade</i>
                {% endfor %}
                {% for star in customer_review.stars|unchecked_star_range %}
                <i class="material-icons left">grade</i>
                {% endfor %}
                <br>
                <br>
                <b><em>{{ customer_review.owner.first_name }}  {{ customer_review.owner.last_name }}</em></b><br>
                <p>
                    {{ customer_review.time }}<br>
                    {{ customer_review.comments }} </p>
            </li>
            {%  endfor %}
            </ul>
    </div>
    </div>
</div>
<script type="text/javascript">
    var quantities = [];
    {% for quantity in colors %}
        var color_object = {'color': '{{ quantity.color.pk|safe }}', 'quantity': '{{ quantity.quantity|safe }}'}
        quantities.push(color_object);
    {% endfor %}
</script>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
<script src="{% static 'front/js/phone_profile.js' %}"></script>
{% endblock %}
{% endblock %}
