{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/old_password.css' %}" />
{% endblock %}
{% block content%}
<div class="container main-content">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">teke</a>
                    <a href="#!" class="breadcrumb" id="last-link">privacy policy</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row policy"></div>
        <h4 class="center">Privacy Policy</h4>

        <p>This Privacy Policy describes the way Hirola Inc., a Nairobi corporation doing business through our website and
            mobile phone application, Tekesquared, and its affiliates (collectively, "Hirola" or "us") obtains, uses, stores, manages
            and disposes of certain information that you, as a user of our services, provide to us. You have certain rights,
            described below, to know what information we collect, how we use it, and how you may obtain and correct it.</p>

        <p>Tekesquared first collects information about you from the data you supply on the Tekesquared Website. When you provide information
            to Tekesquared, through the App or otherwise, you are warranting to Tekesquared that all of the information you provide to us
            about yourself is accurate and complete. Tekesquared is relying on your warranty when Tekesquared provides the Service to you.
            The information you provide includes Personally Identifiable Information, which is defined as information that can
            be used, on its own or with other information, to identify you.</p>

        <p>In addition to the information you provide, Tekesquared may have, or may obtain from third parties, information about you
            or your Beneficiary, some of which may be Personally Identifiable Information. More information about these third
            parties appears below. Tekesquared uses this information to provide its services to you, and to help protect you, the Tekesquared
            service, your Beneficiary and the general public from mistakes, fraud, money-laundering and other problems.</p>

        <h5>Collection of Information</h5>

        <p>The initial information we collect from you is the information that you provide to us on the Tekesquared website. This
            includes information about yourself, such as your full legal name, address, date of birth, telephone number, email
            address, as well as other information and/or documentation that will allow us to verify your identify. Tekesquared may
            also collect information from your mobile phone or other device from which you access the Tekesquared website, including
            your IP (Internet Protocol) address, operating system, device identification information, and other information
            associated with your access to and use of the Website/App. Tekesquared may also collect information about the websites you
            have visited prior to accessing Tekesquared Website/App. Tekesquared may keep and store such information and associate it with
            your use, in order to help Tekesquared identify you and facilitate your use of our service in the future.</p>

        <p>Tekesquared may verify and confirm all of the information that you provide to us (or that we otherwise collect from your
            accessing the Tekesquared Website/App) with third parties, including the financial institution that issued the payment
            card you propose to use, and the telecommunications company or financial institution through which your money is
            sent to us. Tekesquared may also verify such information with identity verification services, electronic databases, social
            media companies and credit reporting agencies. Tekesquared may share your information with the banks, telecommunications
            providers and other financial services firms who facilitate payment to us. From time to time, Tekesquared may require you
            and/or your Beneficiary to provide us with additional information and/or documentation to confirm your identify and
            your eligibility to use the Tekesquared service.</p>

        <p>When you access the Tekesquared Website/App, Tekesquarede may collect and store information regarding your use of the App and the
            service. This includes information about the frequency with which you access the Website/App, the time you spend
            there, the way you move through the site.
            If you contact us for any reason, whether by telephone, email, text or otherwise, Tekesquared may record and store
            communications that you have with us.</p>

        <h5>Use of Information</h5>

        <p>Tekesquared may maintain and use all of the information and documentation that you provide, as well as information that we
            derive from your use of the service, and the information that we obtain about you from third parties, in order to
            provide the Tekesquared service to you, and to enable Tekesquared to comply with laws and regulations, including those intended
            to prevent fraud, money laundering, and other financial abuses. Tekesquared may use your information to contact you as
            necessary to confirm or complete a transaction, and to allow our agents, partners and service providers to fulfill
            their obligations in providing the Tekesquared service to you. Tekesquared may also use your information to improve our service,
            to troubleshoot problems, to develop new products and services, and to create advertising, marketing and
            promotional campaigns. (More information about Tekesquared's use of your data for marketing and promotion is below.)
            Finally, Tekesquared may disclose your information to third parties, including government agencies, when Tekesquared reasonably
            determines that such disclosure is required by law, such as responses to subpoenas and information requests by law
            enforcement, financial services regulators or national security authorities.</p>

        <p>Tekesquared will not sell, rent or otherwise disclose your information to third party marketers or others unaffiliated with
            Tekesquared for the purpose of advertising, promoting or selling other services to you. However, where and to the extent
            allowed by law, Tekesquared may work with third parties to analyze the information that we gather from you when you visit
            us on-line, including our website, our Facebook page, and our Facebook advertisements, whether or not you use the
            Tekesquared service. Tekesquared may use the information we gather there, along with the information we obtain from your use of
            our service, which may include Personally Identifiable Information, to advertise and promote Tekesquared services to you
            and to others. For example, Tekesquared provides data to Facebook's Ad Manager account and SDK programs, which provide us
            with information about the ways customers and other visitors access, view and use the Tekesquared website and application.
            We use that information to create advertisements and promotions; such advertisements and promotions may appear in
            your Facebook feed or on other sites owned or operated by Facebook, such as Instagram. We may customize our
            marketing and promotional messages to you based on your use of our service, the information that you provide to us
            or which we otherwise obtain about you, and algorithms designed to help us anticipate your potential needs, based
            on your information and the information of others who use Tekesquared services. Tekesquared believes that such programs provide
            valuable information and benefits to our current and potential users.</p>

        <h5>Protection of Personal Information Collected by Tekesquared</h5>

        <p>Tekesquared's leading security experts and practices help ensure that your Personally Identifiable Information is secure.
            All such information is stored on servers with state-of-the- art data protection technology, and is accessible only
            to Tekesquared employees who, for business purposes, need to access it. We use 128-bit encryption and encode your debit
            card information as soon as it is entered in the Tekesquared Website/App, a process that overwrites your details so that
            they are unreadable by unauthorized parties.</p>

        <p>No method of transmission over the internet, or method of electronic storage, is 100% secure, however. Although Tekesquared
            uses strong methods to protect the data that you provide to us, and we regularly test our information protection
            practices and technology, Tekesquared cannot absolutely guarantee its security. We will, however, notify you of any breach
            or other compromise that affects your data, promptly and in compliance with applicable law.</p>

        <h5>Use of Cookies and other Tracking Devices</h5>

        <p>Tekesquared uses "cookies" and other tracking devices to help us recognize you, remember your preferences and facilitate
            your future transactions and other interactions with us. We also use such tracking devices to help us understand
            consumer behavior on our App, in order to help us improve it and make it easier for future use. You may be able to
            disable your device's use of cookies, but that may slow or prevent your ability to use the Tekesquared service.</p>

        <h5>Your Right to Access and Correct Your Personal Information</h5>

        <p>You have the right to access your personal information stored by Tekesquared, subject to applicable laws and in accordance
            with relevant data protection regulations and Tekesquared's policies intended to prevent fraud and other abuses of
            financial services. In order to do so, you can contact us at compliance@Tekesquared.com. If the information Tekesquared has
            maintained about you is wrong, incomplete or otherwise inaccurate, you have the right to require Tekesquared to correct it
            or correct the information yourself directly in the App.</p>

        <h5>Destruction of Information</h5>

        <p>In general, Tekesquared maintains information about each transaction for five years. After that period, Tekesquared may destroy
            such information, and it will no longer be available to you or anyone else. However, there may be circumstances in
            which Tekesquared is required to maintain information for longer periods, if required by law or regulation.</p>

        <h5>Privacy Policy Changes</h5>

        <p>Tekesquared's privacy policy may change in the future. If that happens, the revised version will be posted on our website,
            https://Tekesquared.com, and will be sent to current users via the email addresses associated with their Tekesquarede App
            registrations.</p>
    </div>
</div>
{% block footer %}
{% include 'front/footer.html' %}
{% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
{% endblock %}
{% endblock %}
