{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/reset_password.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %}
{% block content %}
    <div class="container main-content">
        <div class="row content">
            <div class="col m2"></div>
            <div class="col m8">
                <h5>Forgot your password?</h5>
                <div class="col s12 form-content">
                    <h6>Please provide your email so that we can send you a link to reset the password</h6>
                    <form action="#">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row btn-group">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light red accent-4" type="submit" name="action">Back
                                <i class="material-icons left">navigate_before</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button class="btn waves-effect waves-light red accent-4 right" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col m2"></div>
        </div>
    </div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}

{% endblock %}