{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/review_submit.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" /> {% endblock %} {% block content %}
<div class="container main-content">
    <div class="row breadcrumbs">
        <nav class="this-black">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">teke</a>
                    <a href="#!" class="breadcrumb">iPhone 6</a>
                    <a href="#!" class="breadcrumb" id="last-link">Review</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row content">
        <div class="row review">
            <h6><b>Review submitted - Thank You</b></h6>
            <p>We are currently processing your review. We will email you once its complete</p>
        </div>
        <div class="other-purchases">
            <h6><b>Review your previous purchases</b></h6>
            <ul>
                <li><i class="material-icons green-text">android</i> Simu ya 2045</li>
                <li><i class="material-icons green-text">android</i> Simu ya the future</li>
            </ul>
        </div>
    </div>
</div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %} {{ block.super }} {% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script> {% endblock %}
{% endblock %}
