{% extends "front/base.html" %}{% block styles %} {{ block.super }} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/signup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}" />
{% endblock %} {% block content %}

<div class="container  main-content">
    <div class="row">
        <div class="col m3"></div>
        <div class="col m6">
            <div class="center">
                <h4>teke</h4>
            </div>
            <div class="row content">
                <form class="col s12" action="#">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="first_name" type="text" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="tel" type="text" class="validate" required>
                            <label for="tel">Phone number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 pass">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p> When you
                                <em>Register</em> you agree to our
                                <a href="#">User agreement</a>
                                and acknowledge to have read our
                                <a href="#">user privacy policy</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light red accent-4" type="submit" name="action">Create Account
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light btg  blue darken-4" type="submit" name="action">Signup with facebook
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col m3"></div>
    </div>
</div>
{% block footer %} {% include 'front/footer.html' %} {% endblock %}
{% block scripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'front/js/material_init.js' %}"></script>
{% endblock %}
{% endblock %}
