body {
  font-style: Roboto, Helvetica, Arial, Roboto, Verdana, sans-serif;
}

#hot-icon {
    color: orange;
}

#junk-icon {
  color: red;
}

#thumb-icon {
    color: green;
}

#quality-icon {
    color: green;
}

#last-link {
    text-decoration: none;
}

p {
    font-size: 15px;
}

hr {
  border: 0; height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
.main-content {
    flex: 1 0 auto;
    width: 100%;
}
.container-content {
    margin-top: 20px;
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .how-it-works {
        padding-left: 40px;
        padding-right: 40px;
    }
    .welcome {
        padding-left: 30px;
        padding-right: 30px;
    }
}
