li {
    margin-right: 90px;
}

#search {
    margin-right: 0px !important;
}

form .input-field {
    margin-top: 3px;
    height: 60px;
}

.brand-logo {
    margin-left: 20px;
}

.input-field .prefix.active {
    color: white;
}

@media only screen and (max-width: 600px) {
    .searchbarfix {
        height: 56px !important;
    }
}

@media only screen and (min-width: 601px) {
    .searchbarfix {
        height: 64px !important;
    }
}

.navfix {
    position: relative;
    margin-right: 0;
}

.navfix2 {
    position: absolute;
}

.input-field .prefix {
    color: white;
    padding-top: 2px;
    font-size: 1.5em;
    margin-right: 0 !important;
}