.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: #333 \59;
    background-color: rgba(0, 0, 0, 50);
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(255, 255, 255, 100);
    border: 1px solid #000000;
    border-radius: 10px;
  }

  .carousel-item img{
    height: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.active, {
  background-color: #717171;
}
  