.main-content {
    flex: 1 0 auto;
    width: 100%;
    margin-top: 100px;
}

.phone-details {
    margin-top: 50px;
    border: solid 0.05em;
    border-color: #E8E8E8;
    padding: 50px;
}

.more-details {
    margin-top: 50px;
    border: solid 0.05em;
    border-color: #E8E8E8;
    padding: 50px;
}

.checked {
    color: orange;
}

#intro {
    font: bold;
    font-size: 14pt;
}

.stars {
    font-size: 16pt;
    border-bottom: solid 0.05em;
    border-bottom-color: #E8E8E8;
}
.sample-form .row {
    margin: 5px;
}

.btn {
    width: 100%;
}

h5 {
    font: bold;
}

#title {
    background-color: #E8E8E8;
}

.profile ul {
    text-align: right;
}

.details-container {
    border: solid 0.05em;
    border-color: #909090;
    margin-bottom: 20px;
}

.detail {
    border-bottom: solid 0.05em;
    border-bottom-color: #909090;
}

.detail .col {
    padding-bottom: 20px;
}

.more-details .row {
    margin-bottom: 0 !important;
}

.disabled {
    color: red !important;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}

.warranty .row {
    padding-top: 0 !important;
}

.card {
    padding: 10px;
}

.features {
    border-bottom: solid 0.05em;
    border-bottom-color: #E8E8E8;
}

.action {
    border: solid 0.05em;
    border-color: #E8E8E8;
}

.action form {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.profile {

    padding-right: 40px !important;
}

.navrow {
    margin-top: 50px;
    margin-bottom: 40px;
}

.review-head {
    padding-left: 20px !important;
}

#review-date {
    padding-top: 0 !important;
}
.reviews {
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
    .container {
        margin-top: 0px !important;
    }
    .s12 {
        margin-bottom: 15px;
    }
    .reviews .collection {
        padding-left: 0
    }
}