.main-container {
    display: flex
}

.content {
    margin-top: 50px;
    padding: 20px;
    border: solid 0.05em;
    border-color: #E8E8E8;
    flex-grow: 1.2;
}

.storage {
    padding: 10px;
    border-bottom: solid 0.05em;
    border-bottom-color: #E8E8E8;
}

.storage .col {
    text-align: center;
    margin-bottom: 50px;
}

.storage .s3 #size {
    border: solid 0.05em;
    border-color: #E8E8E8;
    background-color: whitesmoke;
}

.images {
    padding-top: 50px;
}

.image {
    height: 100px;
    width: 80px;
}

.image-div {
    padding-top: 40px;
}

.card {
    border: solid 0.05em;
    border-color: #E8E8E8;
}

.container {
    flex-shrink: 5;
}

@media only screen and (max-width: 600px) {
    .storage .s3 #size h4 {
        font-size: 4vw;
    }
}