.main-content {
  flex: 1 0 auto;
}

.landing-content {
    /* font-size: 14pt; */
    padding: 10px;
    text-align: center;
}

  .material-icons {
    padding-right: 10px;
  }

  .this-table {
    padding: 5px;
  }
  hr {
    border: none;
    height: 1px;
    background-color: gray;
  }

  @media only screen and (max-width: 767px) {
      .landing-content {
          text-align: left;
      }
  }

  .landing {
    margin-bottom: 20px !important;
  }

.service-man-content{
    border-top: solid 0.05em;
    border-top-color: #E8E8E8;
    display: flex;
    flex-wrap: wrap;
}

.s2 {
  display: flex;
  align-items: center;
}

.service {
  border-top: solid 0.05em;
  border-top-color: #E8E8E8;
  padding-left: 10px !important;
}

.service:first-child {
  border-top: none;
  font-size: 29px;
}

.service p {
  margin: 5px 0 5px 0 !important;
}

.order-details {
  border: 0.5px solid grey;
}

.order-header {
  margin-top: 30px;
}

.order-header {
  font-family: Circular-Bold,Arial,sans-serif;
font-weight: 700;
position: relative;
margin: 0 0 30px;
color: #3b302c;
}

.order-header h5:after {
    content: '';
    border-bottom: 5px green solid;
    top:25px;
    position: absolute;
    height: 5px;
    width: 80px;
    left: 0;
    bottom: -10px;
}
