.main-content {
    margin-top: 100px;
    flex: 1 0 auto;
}

.content {
    padding: 0 20px 50px 20px;
    border: solid 0.05em;
    border-color: #E8E8E8;
}

.input-field {
    margin-top: 30px;
}

.btn {
    margin: 30px 0px 30px 0px;
    width: 80%;
    border-radius: 20px;
}

.material-icons {
    color: #3cba54;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google {
    color: #3cba54;
}

@media only screen and (max-width: 600px) {
    .main-content {
        margin-top: 10px;
    }
    .input-field {
        margin-top: 20px;
    }
    .btn {
        margin-bottom: 10px;
    }
}