.main-content {
    flex: 1 0 auto;
}

.landing-content {
    padding: 30px;
    text-align: center;
}

.card {
    border: solid 0.05em;
    border-color: #E8E8E8;
}

.this-para {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
    .landing-content {
        text-align: left;
    }
}
